{% extends 'index.html' %}

{% block content %}
<!-- Header-->
<div class="w3-content" style="max-width:1100px">

    <hr>
    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
      <div class="w3-col m6 w3-padding-large w3-hide-small">
       <img src="/static/image/signlanguage.png" class="w3-round w3-image w3-opacity-min" width="750" height="530">
      </div>
  
      <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">수어 번역 CHAT GPT</h1><br>
        <h5 class="w3-center">수어의 의미</h5>
        <p class="w3-large">수화(手話) 또는 손말은 소리가 아닌 손짓을 이용해서 뜻을 전달하는 언어이다. 수화언어(手話言語), 줄여서 수어(手語)라고도 한다. 농인이 주로 사용한다.</p>
      </div>
    </div>

</div>
{% endblock content %}